:root{
    --Gcolor:#A4c639;
    --Bcolor:#1e1e1e;
    --Graycolor:#f7f7f7;
    --paracolor:#666666;
    --whitecolor:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "poppins", sans-serif;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    height: 46px;
    background-color:var(--Gcolor);
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    align-items: center;
    position: sticky;
}

nav .date-call{
    width: 59.4%;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    height: 100%;
}
nav .date-call .clock{
    padding: 0px 20px;
    border-left: 1px solid rgba(255,255,255,.25);
    height: 100%;
    display: flex;
    align-items: center;

}
nav .date-call .call{
    padding: 0px 20px;
    border-left: 1px solid rgba(255,255,255,.25);
    border-right: 1px solid rgba(255,255,255,.25);
    display: flex;
    align-items: center;
}
nav .date-call .clock a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
nav i{
    margin-right: 5px;
}
nav .date-call .call a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: inline-block;
    font-weight: 600;
} 
nav .icons {
    width: 30.91%;
    text-align: right;
    display: flex;      
    justify-content: flex-end;
    align-items: center;  
    gap: 0;               
}

nav .icons a {
    text-decoration: none;
    color: white;
    margin: 0px 5px 0px 0px;

    display: flex;           
    justify-content: center;
    align-items: center;

    width: 46px;
    height: 46px;

    font-size: 14px;
    border-left: 1px solid rgba(255,255,255,.25);
}
nav .icons #behance{
    border-right: 1px solid rgba(255,255,255,.25);
}
#Home-html{
    width: 100%;
    height: 100vh;
    background-image:url(slide_01.jpg) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bck-nav-container{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 15px;
}
#backround-nav{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    height: 90.8px;
    margin: 0px 105.5px;
    color: white;
}
#backround-nav h2 a{
    width: 225.47px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
.backround-list{
    width: 65.75%;
    display: flex;
    justify-content: center;
    padding-left: 40px;
}
.backround-list ul{
    width: 64.34%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    height: 90.8px;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
.backround-list ul a{
    color:white;
    list-style-type: none;
    padding: 8px;
    font-size: 15px;
    margin: 5px 0px 0px;
    text-decoration: none;
}
/* this is the style for the clicked pages */
.backround-list ul a.active {
    color: var(--Gcolor);
    border-bottom: 3px solid var(--Gcolor);
}


/* this is the style for the clicked pages */

.backround-list ul a:active{
    color: var(--Gcolor);
    border-bottom: 3px solid var(--Gcolor);
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.5s;
    margin-top: 5px;
}
.backround-list ul a:hover{
    color: var(--Gcolor);
    border-bottom: 3px solid var(--Gcolor);
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.5s;
    margin-top: 5px;
}
#Home-html .bck-contents{
    width: 75%;
    padding: 0px 169px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
#Home-html .bck-contents h6{
    font-size: 22px;
    margin: 0px 0px 15px;
    text-transform: uppercase;
    color: var(--Gcolor);
}
#Home-html .bck-contents h4{
    color: white;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 50px;
}
#Home-html .bck-contents #bck-title{
    margin: 0px 0px 30px;
}
#Home-html .bck-contents p{
    color: white;
    line-height: 30px;
    margin: 0px 0px 40px;

}
#Home-html .bck-contents p a{
    text-decoration: none;
}

/* first button of the page  */
#Home-html .bck-contents button{
    width: 22.42%;
    color:white;
    background-color: var(--Gcolor);
    margin: 0px 5px;
    border-radius: 30px;
    padding: 12px 30px;
    font-weight: 700;
    display: inline-block;
    border: none;
}

/* first button of the page  */

/* first button of the page hover section  */

#Home-html .bck-contents button:hover{
 color: var(--Gcolor);
 background-color: var(--whitecolor);
 cursor: pointer;
}

/* first button of the page hover section  */

/* a link text on the first page of the home page with its hover part  */

#Ltext-bck-contents{
    color:#007bff;
}
#Ltext-bck-contents:hover{
    color:#0557af;
}

/* a link text on the first page of the home page with its hover part  */

/* all green bar section styles here */

.green-bar{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px 7.5%;
    background-color:var(--Gcolor);
}
.green-bar h4{
    font-size: 22px;
    font-weight: 600;
}
.green-bar span{
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    margin-top: 10px;
}
.green-bar-container-button{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.green-bar-container-button a{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    margin-top: 12px;
    text-decoration: none;
}
.green-bar-container-button a:hover{
    color: var(--Gcolor);
    background-color: var(--whitecolor);
}

/* all green bar section styles here */


/* all cards styles of home.html here */
.container-2{
    padding: 0px 7.5%;
    margin: 0px auto;
}
.cards-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 140px;
    
}
.top-texts-cards{
    width: 100%;
    display: block;
    text-align: center;
}
.top-texts-cards h2{
    font-size: 36px;
    font-weight: 600;
    color: #1e1e1e;
    display: inline-block;
}
.top-texts-cards #financial-text{
    color: var(--Bcolor);
    margin-right: 5px;

   
}
.top-texts-cards #Services-texts{
    color: var(--Gcolor);
     display: inline-block;
}
.cards-section span{
    color: var(--paracolor);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0px 0px;
    
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.cards-items{
    width: 31%;
    display: flex;
    flex-direction: column;
    background-color: var(--Graycolor);  
    padding: 0;  
    box-sizing: border-box;
}
.cards-items h4{
    color: #212529;
    font-size: 20px;
    margin: 0px 0px 15px;
    font-weight: 700;
    letter-spacing: 0.25px;
}
.cards-items p{
    color: var(--paracolor);
    font-size: 14px;
    margin: 0px 0px 20px;
    line-height: 30px;
}
.cards-imgs-items{
    width: 100%;
}
.cards-items button{
    background-color: var(--Gcolor);
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    border: none;
}
.cards-items button:hover{
    color: var(--Gcolor);
    background-color: var(--whitecolor);
    cursor: pointer;
}
.cards-texts{
    padding: 30px;
}

/* all cards styles of home.html here */


/* solutions for business growth styles */
.solution{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 140px;
    background-image: url(fun-facts-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 140px 0px;
    padding-left: 5%;
    padding-right: 5%;
    color: var(--whitecolor);
    
}
.solution-texts{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    margin: 0px 38px;
}
.solution .solution-texts span{
    text-transform: uppercase;
    font-size: 15px;
    color: var(--whitecolor);
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}
.solution-texts-titles{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 35px;
    line-height: 45px;
}
#solution-text-second-h1{
    color: var(--Gcolor);
}
.solution-texts .solution-texts-paragraphs{
    color: #fff;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 30px;
}
.solution .solution-texts button{
    background-color: var(--Gcolor);
    color: var(--whitecolor);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    border: none;
    width: 139.5px;
}
.solution .solution-texts button:hover{
    background-color: var(--whitecolor);
    color: var(--Gcolor);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    border: none;
    width: 139.5px;
    cursor: pointer;
}
.solution-boxes-block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 50%;
    padding-right: 5%;
}
.solution-boxes{
    background-color: rgba(250, 250, 250, 0.1);
    padding: 40px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 150px;
}
.digit-counter{
    margin: 5px 0px;
    color: var(--Gcolor);
    font-weight: 700;
    font-size: 36px;
    
}
.count-title{
    font-size: 20px;
    font-weight: 700;
    color: var(--whitecolor);
    letter-spacing: 0.5px;
}

/* solutions for business growth styles */

/* get to know about our company section style */
.get-to-know-about-company{
    width:100%;
    justify-content: center;
    align-content: center;
    display: flex;
    padding-right: 8.5%;
    padding-left: 8.5%;
}
.know-container{
    width: 100%;
    background-color: var(--Graycolor);
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 140px;
}

.know-texts{
    padding: 45px 45px 45px 30px;
}
.get-to-know-about-company .know-container .know-texts > span{
    color: var(--paracolor);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}
.know-titles{
    margin-bottom: 35px;
}
.know-titles h2{
    color: var(--Bcolor);
    font-size: 36px;
    font-weight: 600;
    line-height: 1.25 ;
}

.know-titles h2 span{
    color: var(--Gcolor);    
}

.know-para{
    margin-bottom: 30px;
    font-size: 14px;
    color: #666666;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: left;
}
#know-title-first{
display: inline-block;
margin-right: 10px;
}
#know-title-second{
    color: var(--Gcolor);
}
.get-to-know-about-company .know-container button{
    background-color: var(--Gcolor);
    color:var(--whitecolor);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    border: none;
}

.know-container button:hover{
    color: var(--Gcolor);
    background-color: var(--whitecolor);
    cursor: pointer;
}

/* get to know about our company section style */


/* what they say about us section */

.what-they-say-about-us{
    background-color: var(--Graycolor);
    padding: 140px 0px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    padding: 140px 0px;
}

.what-they-say-about-us .what-texts h2{
    font-size: 36px;
    font-weight: 600;
}
.what-they-say-about-us .what-texts h2 > span{
    font-size: 36px;
    font-weight: 600;
    color: var(--Gcolor);
}
.what-texts{
    text-align: center;
    padding: 0px 15px;
    width: 100%;
}
.what-texts > span{
    display: inline-block;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
    color: #666;
    letter-spacing: 1px;
}
.what-names{
    display: flex;
    justify-content: space-between;
    padding: 0px 7.5%;
    text-align: center;
    column-gap: 30px;
}
.what-names-contents{
    background-color: var(--whitecolor);
    padding: 30px;
    width: 90%;
    margin-top: 90px;
}
.what-names-contents h4{
    font-size: 19px;
    font-weight: 700;
    color: #1e1e1e;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
}
.what-names-contents span{
    display: inline-block;
    margin-top: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #a4c639;
}
.what-names-contents p{
    font-size: 14px;
    font-weight: 400;
    color: var(--paracolor);
    line-height: 30px;
}

/* what they say about us section */

/* Request a call back style zone */

.callback-section{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    padding: 0px 7.5%;
}
.callback-texts{
    text-align: center;
    margin-bottom: 80px;
}
.callback-texts h2{
    font-size: 36px;
    font-weight: 600;
    color: var(--Bcolor);
}
.callback-texts h2 .callback-span{
     font-size: 36px;
    font-weight: 600;
    color: var(--Gcolor);
}
#callback-underline-span{
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--paracolor);
    letter-spacing: 1px;
    margin-top: 15px;
} 
.callback-form{
    width: 100%;
    background-color: var(--Gcolor);
    display: flex;
    flex-direction: column;
    padding: 60px;
    border-radius: 5px;
    text-align: center;
}
.callback-form form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 27px;
}
.form-inputs{
    width: 100%;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0px 15px;
    color: #8b2f2f;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
    background-color:var(--whitecolor);
    background-clip: padding-box;
    outline: none;
}

.callback-section .callback-form textarea{
    width: 100%;
    border-radius: 20px;
    height: 120px;
    max-height: 200px;
    min-height: 120px;
    padding: 15px;
    color: #6a6a6a;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    vertical-align: top;
    outline: none;
}
.callback-section .callback-form fieldset{
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}
.callback-section .callback-form fieldset input[type="submit"]{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}
.callback-form fieldset input[type="submit"]:hover{
    background-color: var(--whitecolor);
    color: var(--Gcolor);
    cursor: pointer;

}

/* Request a call back style zone */

/* partners logos */

.partners{
    margin-top: 140px;
    background-color: var(--Graycolor);
    padding: 60px 7.5%;
}
.partners-container{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
  
}
.partners-logos{
    max-width: 156px;
    margin: auto;
    vertical-align: middle;
    border-style: none;
}

/* partners logos */

/* footer section */

footer{
    display: flex;
    background-color: #232323;
    padding: 80px 0px;
    color: var(--whitecolor);
    padding-left: 7.5%;
    padding-right: 7.5%;
}
footer a{
    font-size: 14px;
}
.footer-para{
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 0;
}
.footer-containers{
    display: flex;
    flex-direction: column;
    max-width: 25%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.footer-containers a, ul{
   text-decoration: none;
   list-style: none;
   color: var(--whitecolor);
}

.footer-titles{
    color:var(--whitecolor);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.25px;
    margin-bottom: 35px;
}
/* social medias logo sections */
.social-medias-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    
}
.social-medias-items{
    background-color: var(--whitecolor);
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%
    
}
/* footer icons hover */
.social-medias-items li a:hover {
    background-color: var(--Gcolor);
    border-radius: 50% 
}
/* footer icons hover */

.social-medias-items li a{
    width: 34px;
    height: 34px;
    display: inline-block;
    line-height: 34px;
    text-align: center;
    color: #232323;
    transition: all 0.3s;
}
/* footer Useful link links */
.useful-links-link{
    margin-bottom: 13px;
}
.useful-links-link a:hover, .Additional-links-link a:hover{
    color: var(--Gcolor);
}
.Additional-links-link{
    margin-bottom: 13px;
}
/* footer Useful link links */


/* footer form and input section */
.footer-containers form input:not([type="submit"]){
    width: 100%;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0px 15px;
    color: #aaa !important;
    background-color: #343434;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 15px;
    outline: none;
}
.footer-containers form textarea{
    width: 100%;
    border-radius: 20px;
    height: 120px;
    max-height: 200px;
    min-height: 120px;
    display: inline-block;
    padding: 15px;
    color: #aaa;
    background-color: #343434;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 15px;
    outline: none;
}
.footer-button-item{
    color: #fff;
    background-color: #a4c639;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}
.footer-button-item:hover{
    background-color: var(--whitecolor);
    color: var(--Gcolor);
}

/* footer section */

/* sub footer section */

.sub-footer{
    background-color: #343434;
    text-align: center;
    padding: 25px 0px;
    width: 100%;
}
.sub-footer p{
    color: var(--whitecolor);
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 30px;
}
.sub-footer p a{
    color: var(--whitecolor);
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
}
button,
input,
textarea {
    font-family: "Poppins", sans-serif;
}

/* sub footer section */


/* we are done with the design of the home page */

/* now it is time for another page which is  */

/* About-Us.HTML */
#About-Us-html{
    width: 100%;
    height: 75vh;
    background-image:url(page-heading-bg.jpg) ;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.backround-about-us-contents{
    text-align: center;
    color: var(--whitecolor);
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
    padding-top: 140px;
}
.backround-about-us-contents h1{
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 18px;
}
.backround-about-us-contents span{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    display: block;
}
.first-section-about-us{
    margin-top: 140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 8.7%;
    padding-right: 8.7%;
    width: 100%;
}
.left-side-container-of-first-section-about-us{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    align-self: center !important;
}
.left-side-container-of-first-section-about-us span{
    text-transform: uppercase;
    font-size: 15px;
    color:  var(--paracolor);
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}
.left-side-container-of-first-section-about-us h2{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 35px;
}
.left-side-container-of-first-section-about-us h2 em{
    color: var(--Gcolor);
}
.left-side-container-of-first-section-about-us p{
    font-size: 14px;
    color:  var(--paracolor);
    line-height: 30px;
    margin-bottom: 30px;
}
.left-side-container-of-first-section-about-us button{
    background-color: var(--Gcolor);
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    border: none;
    width: 139.45px;
}
.left-side-container-of-first-section-about-us button:hover{
    background-color: var(--whitecolor);
    color: var(--Gcolor);
    cursor: pointer;
}
.right-side-container-of-first-section-about-us{
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


/* second-section-about-us it is cards section */
.second-section-about-us{
    background-color: var(--Graycolor);
    margin-top: 140px;
    margin-bottom: -140px;
    padding: 120px 0px;
    
}
.NO1-container-of-second-section-about-us{
    text-align: center;
    margin-bottom: 80px;
}
.NO1-container-of-second-section-about-us h2{
    font-size: 36px;
    font-weight: 600;
    color: var(--Bcolor);
}
.NO1-container-of-second-section-about-us h2 > em{
    font-size: 36px;
    font-weight: 600;
    color: var(--Gcolor);
    font-style: normal;
}
.NO1-container-of-second-section-about-us span{
    display: block;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
    color: #666;
    letter-spacing: 1px;
}
.NO2-container-of-about-us-cards-container{
    display: flex;
    width: 100%;
    padding-right: 8.7%;
    padding-left: 8.7%;
    justify-content: space-between;
}
.about-us-cards-items{
    position: relative;
    max-width: 30%;
    min-height: 1px;
    background-color: var(--whitecolor);
}
.about-us-cards-items-text-container{
    background-color: var(--whitecolor);
    padding: 30px;
    box-sizing: border-box
}
.about-us-cards-images{
  width: 100%;
}
.about-us-cards-images img{
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    border-style: none;
    padding: 0;
    margin: 0;
}
.about-us-cards-items h4{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
}
.about-us-cards-items span{
    color: var(--Gcolor);
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
}
.about-us-cards-items p{
    font-size: 14px;
    color: #666666;
    line-height: 30px;
    margin-bottom: 20px;
}


/* second-section-about-us it is cards section */

/* About-Us.HTML */

/* Our services html.......... here we apply some designs related to the our services html page */
.services{
   margin-top: 140px;
   padding: 0px 8%; 
   display: flex;
   justify-content: space-between;
   column-gap: 30px;
}
.services-leftside-containers{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 33.2%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.services-containers{
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.services-containers-link-container a{
    text-transform: capitalize;
    width: 100%;
    padding: 30px 30px;
    align-items: center;
    background-color: var(--Gcolor);
    font-size: 20px;
    color: #121212;
    letter-spacing: 0.5px;
    font-weight: 700;
    transition: all 0.3s;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.services-containers-link-container a i{
    font-size: 14px;
    color: var(--Bcolor);
}
.services-containers-link-container a:active{
    text-transform: capitalize;
    width: 100%;
    padding: 30px 30px;
    background-color: var(--Gcolor);
    font-size: 20px;
    color: var(--whitecolor);
    letter-spacing: 0.5px;
    font-weight: 700;
    transition: all 0.3s;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.right-side-container{
    position: relative;
    width: 66.8%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.right-side-container img{
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    border-style: none;
    
    
}
.right-side-container h4{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 15px;
    margin-top: 30px;

}
.right-side-container p{
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 0px;
    line-height: 30px;
}

/* request a call back section for our services html */

.our-services-html-callback-section{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    padding: 0px 7.5%;
    border-top: 1px solid #eee;
    padding-top: 140px;
    margin-top: 140px;
}
.our-services-html-callback-texts{
    text-align: center;
    margin-bottom: 80px;
}
.our-services-html-callback-texts h2{
    font-size: 36px;
    font-weight: 600;
    color: var(--Bcolor);
}
.our-services-html-callback-texts h2 .callback-span{
     font-size: 36px;
    font-weight: 600;
    color: var(--Gcolor);
}
#our-services-html-callback-underline-span{
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--paracolor);
    letter-spacing: 1px;
    margin-top: 15px;
} 
.our-services-html-callback-form{
    width: 100%;
    background-color: var(--Gcolor);
    display: flex;
    flex-direction: column;
    padding: 60px;
    border-radius: 5px;
    text-align: center;
}
.our-services-html-callback-form form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 27px;
}
.form-inputs{
    width: 100%;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0px 15px;
    color: #8b2f2f;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
    background-color:var(--whitecolor);
    background-clip: padding-box;
    outline: none;
}

.our-services-html-callback-section .our-services-html-callback-form textarea{
    width: 100%;
    border-radius: 20px;
    height: 120px;
    max-height: 200px;
    min-height: 120px;
    padding: 15px;
    color: #6a6a6a;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    vertical-align: top;
    outline: none;
}
.our-services-html-callback-section .our-services-html-callback-form fieldset{
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}
.our-services-html-callback-section .our-services-html-callback-form fieldset input[type="submit"]{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

.our-services-html-callback-section .our-services-html-callback-form fieldset input[type="submit"]:hover{
    background-color: var(--whitecolor);
    color: var(--Gcolor);
}

/* request a call back section for our services html */


/* Our services html.......... here we apply some designs related to the our services html page */



/* Contact Us html design */

#Contact-Us-html{
    width: 100%;
    height: 75vh;
    background-image:url(page-heading-bg.jpg) ;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* contact information section */
.contact-icons-and-adresses{
    margin-top: 140px;
    padding: 0px 7.5%;
    display: flex;
    justify-content: space-between;
}
.contact-icons-and-adresses-containers{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.contact-icons-and-adresses-items{
    padding: 60px 30px;
    background-color: #f7f7f7;
    text-align: center;
}
.contact-icons-and-adresses-items h4{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 15px;
    margin-top: 35px;
}
.contact-icons-and-adresses-items p{
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--paracolor);
    line-height: 30px;
}
.contact-icons-and-adresses-items a{
    font-weight: 600;
    color: var(--Gcolor);
    font-size: 15px;
    text-decoration: none;
}


   
.contact-icons-and-adresses-items i{
    color: var(--Gcolor);
    font-size: 48px;
}
/* contact information section */


/* call back section  */

.contact-us-html-callback-section{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    padding: 140px 7.5%;
    background-color: var(--Graycolor);
}
.contact-us-html-callback-texts{
    text-align: center;
    margin-bottom: 80px;
}
.contact-us-html-callback-texts h2{
    font-size: 36px;
    font-weight: 600;
    color: var(--Bcolor);
}
.contact-us-html-callback-texts h2 > span{
    color: var(--Gcolor);
}
.contact-us-html-callback-texts h2 .callback-span{
     font-size: 36px;
    font-weight: 600;
    color: var(--Gcolor);
}
#contact-us-html-callback-underline-span{
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--paracolor);
    letter-spacing: 1px;
    margin-top: 15px;
} 
.contact-us-html-callback-form{
    width: 100%;
    background-color: var(--Graycolor);
    display: flex;
    flex-direction: column;
    padding: 60px;
    border-radius: 5px;
    text-align: center;
}
.contact-us-html-callback-form form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 27px;
}
.form-inputs{
    width: 100%;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0px 15px;
    color: #8b2f2f;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
    background-color:var(--whitecolor);
    background-clip: padding-box;
    outline: none;
}

.contact-us-html-callback-section .contact-us-html-callback-form textarea{
    width: 100%;
    border-radius: 20px;
    height: 120px;
    max-height: 200px;
    min-height: 120px;
    padding: 15px;
    color: #6a6a6a;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    vertical-align: top;
    outline: none;
}
.contact-us-html-callback-section .contact-us-html-callback-form fieldset{
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}
.contact-us-html-callback-section .contact-us-html-callback-form fieldset input[type="submit"]{
    background-color: var(--Gcolor);
    color: var(--whitecolor);
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}
.contact-us-html-callback-section .contact-us-html-callback-form fieldset input[type="submit"]:hover{
    background-color: var(--whitecolor);
    color: var(--Gcolor);
    cursor: pointer;
}
/* call back section */



/* partners logos */

.contact-us-html-partners{
    margin-top: 0;
    background-color: var(--Graycolor);
    padding: 60px 120px;
}
.contact-us-html-partners-container{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
  
}
.contact-us-html-partners-logos{
    max-width: 156px;
    margin: auto;
    vertical-align: middle;
    border-style: none;
}

/* partners logos */




/* Contact Us html design */


