*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "poppins", sans-serif;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    height: 46px;
    background-color: #A4c639;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    align-items: center;
}

nav .date-call{
    width: 59.4%;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    height: 100%;
}
nav .date-call .clock{
    padding: 0px 20px;
    border-left: 1px solid rgba(255,255,255,.25);
    height: 100%;
    display: flex;
    align-items: center;
       
}
nav .date-call .call{
    padding: 0px 20px;
    border-left: 1px solid rgba(255,255,255,.25);
    border-right: 1px solid rgba(255,255,255,.25);
    display: flex;
    align-items: center;
}
nav .date-call .clock a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav .date-call .call a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: inline-block;
} 
nav .icons {
    width: 30.91%;
    text-align: right;
    display: flex;        /* اضافه کن */
    justify-content: flex-end;
    align-items: center;  /* خیلی مهم */
    gap: 0;               /* اگر gap نمی‌خوای */
}

nav .icons a {
    text-decoration: none;
    color: white;
    margin: 0px 5px 0px 0px;
    
    display: flex;           
    justify-content: center;
    align-items: center;

    width: 46px;
    height: 46px;

    font-size: 14px;
    border-left: 1px solid rgba(255,255,255,.25);
}
nav .icons #behance{
    border-right: 1px solid rgba(255,255,255,.25);
}
section{
    width: 100%;
    height: 499.69px;
    background-image:url(slide_01.jpg) ;
}
section .bck-nav-container{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 15px;
}
section #backround-nav{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    height: 90.8px;
    margin: 0px 105.5px;
    color: white;
}
section #backround-nav h2 a{
    width: 225.47px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
section .backround-list{
    width: 65.75%;
    display: flex;
    justify-content: center;
    padding-left: 40px;
    
    

}
section .backround-list ul{
    width: 64.34%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    height: 90.8px;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
section .backround-list ul a{
    color:white;
    list-style-type: none;
    padding: 8px;
    font-size: 15px;
    margin: 5px 0px 0px;
    text-decoration: none;
}
section .bck-contents{
    width: 75%;
    padding: 0px 169px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
section .bck-contents h6{
    font-size: 22px;
    margin: 0px 0px 15px;
    text-transform: uppercase;
    color: #A4c639;
}
section .bck-contents h4{
    color: white;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 50px;
}
section .bck-contents #bck-title{
    margin: 0px 0px 30px;
}
section .bck-contents p{
    color: white;
    line-height: 30px;
    margin: 0px 0px 40px;
    
}
section .bck-contents p a{
    text-decoration: none;
}
section .bck-contents button{
    width: 22.42%;
    color:white;
    background-color: #A4c639;
    margin: 0px 5px;
    border-radius: 30px;
    padding: 12px 30px;
    font-weight: 700;
    display: inline-block;
    border: none;
}


